body {
    margin: 0;
}

.topnav {
  display: block;
  overflow: hidden;
  background-color: #e9e9e9;
  width: 80%;
  text-align: auto;
  margin: 0 auto;
  border: 3px solid rgb(199, 198, 198);
}


.logo {
  display: grid;
  grid-column: 1/1;
  margin-left: left;
  margin-right: auto;
  float: left;
  background-color: #e9e9e9;
  border-radius: 60%;
  border: 3px solid rgb(199, 198, 198);
}

nav a {
  margin-left: left;
}

.list {
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 40px;
  color: black;
  height: 1fr;
  text-decoration: none;
  width: 80%;
  background-color: #e9e9e9;
}


li a {
  width: 60px;
  height: 100%;
  background-color: #dddddd;
}

.content {
  display: grid;
  grid-template-columns: 200px 1fr 1fr 1fr;
  height: 100vh;
  gap: 20px;
  align-items: start;
}

.image {
  height: 400px;
  width: 600px;
  grid-column: 2/2;
}

.block {
    width: 70px;
    border-radius: 30%;
}

.textbox {
    background-color: #e9e9e9;
    border: 3px solid rgb(199, 198, 198);
}

.textbox2 {
    background-color: #e9e9e9;
    border: 3px solid rgb(199, 198, 198);
}